{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<center>
			{% if scores is not None %}
			<table class="table table-fit">
				<th>Score</th>
				<th>Accuracy</th>
				<th>Time (in seconds)</th>
			{% for score in scores %}
			<tr>
				<td>{{ score.score }}</td>
				<td>{{ score.accuracy }}</td>
				<td>{{ score.time_s }}</td>
			</tr>
			{% endfor %}
			</table>
			{% endif %}
    </center>
	{% else %}
		<center>
			<p>Hey, welcome to our website!</p>
			<p>Login <a href="/login">here</a> if you already have an account<br>or<br>
				Register <a href="/register">here</a></p>
		</center>
	{% endif %}
{% endblock %}
